/* rob.css Rose Office Building CSS */

/*
Notes:
Base color #F36161
High color #F3E7E7
Mid color #EFAAAA
Header Font: Lucida Calligraphy
Header color: #F3E7E7

Panel:
	Border 1px solid #F36161
	Background #373535 66% Opacity
	Font color #F3E7E7
	Bullet border 1px solid #EFAAAA
	Bullet color #F36161
	Bullet diameter 10px

Carousel:
	Active bullet:
		Diameter 10px
		Color #F36161
	Other bullet:
		Diameter 10px
		Color #EFAAAA
	Description area:
		Font color: black
		Border color: #EFAAAA
		Desc Area color: white 43% opacity
*/

html {
	height: 100%;
}

body {
	background:	linear-gradient(to bottom, #F36161, #F3E7E7, #F36161);
	background-repeat: no-repeat;
}

h1 {
	color: #F3E7E7;
}

h2 {
	color: #F3E7E7;
	font-size: 1rem;
	font-weight: normal;
}

h3 {
	margin: 50px;
	padding: 10px;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
}

h4 {
	color: black;
	font-style: italic;
}

h5 {
	padding: 1rem;
	color: black;
	text-align: left;
	font-style: italic;
}

.mainArea {
	background: url("images/bldg_prof_01x1440.jpg") no-repeat center center fixed;
	background-size: cover;
	border: 1px solid #F36161;
}

.panel {
	max-width: 500px;
	border: 1px solid #F36161;
	background-color: rgba(55,53,53,0.66);
	color: #F3E7E7;
	margin: 1.5rem;
	padding: .5rem;
}

form {
	padding: .5rem;
}

.centerDiv {
	margin: auto;
	width: 80%;
}

.pureCenter {
	margin: auto;
	width: 50%;
}

.tc {
	text-align: center;
}

.formInputs {
	margin-left: 1rem;
	margin-bottom: 3px;
}

.container {
	margin: 5rem;
}

li {
	text-align: left;
}
